body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    /*add some padding on the top to create space for fixed header*/
    padding-top: 30px;
    padding-left: 100px;
    width: 300px;
  }

header{
  /*position: fixed;*/
  top: 20;
  width: 100%;
  padding: 100px;
  font-size: 20px;
  font-weight: 800;
  /*flexbox is a modern css layout mode that gives us much more power over how elements are positioned*/
  /*
  display: flex;
  justify-content: space-between;
  align-items: center;
  */
}

h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px; 
}

img {
  max-width: 300px;;
  height: auto;
}

h3{
  font-style: italic;
  color: greenyellow;
}