body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    /*add some padding on the top to create space for fixed header*/
    padding-top: 30px;
    padding-left: 150px;
    width: 700px;
  }

header{
  /*position: fixed;*/
  top: 20;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  /*flexbox is a modern css layout mode that gives us much more power over how elements are positioned*/
  /*
  display: flex;
  justify-content: space-between;
  align-items: center;
  */
}

h1 {
  font-size: 20px;
  font-family: 'Roboto Mono';
  font-weight: 800;
}

span{
  background-color: limegreen;
}

h2{
    font-family: 'Roboto Mono';
    font-size: 16px; 
}

img {
  max-width: 700px;;
  height: auto;
}

h3{
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  color: limegreen;
  font-size: 16px;
}

div{
  padding-top: 40px;
  display: inline;
}

p{
  font-family: 'Roboto';
}

.Reading {
  max-width: 350 px;
  padding: 20px;
}